<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss SSS} [%thread] %-5level %logger{50} -%msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!--myibatis log configure -->
	<logger name="com.apache.ibatis" level="TRACE" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />

	<!-- Enable FILE and STDOUT appenders for all log messages. By default, 
		only log at level INFO and above. -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration> 